<p id="notice"><%= notice %></p>

<p>

  <h2><%= @user.username %></h2>
</p>

has made <%= pluralize(@user.ratings.count,'rating') %>

</p>
<ul>
<%= @user.ratings.each do |rating| %>
<li><%= rating %></li>
<% end %>
</ul>
          
      
